---
---

$rhrt-red: #7d004d;
$rhrt-blue: #60a7c4;

.bg-rhrt-blue {
  background-color: $rhrt-blue;
}

.bg-rhrt-red {
  background-color: $rhrt-red;
}

.text-rhrt-blue {
  color: $rhrt-blue;
}

.text-rhrt-red {
  color: $rhrt-red;
}
